<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transport Management System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Transport Management System</h1>
        <div class="buttons">
            <a href="/add_vehicle" class="button">Add a Vehicle</a>
            <a href="/display_vehicles" class="button">Display All Vehicles</a>
            <a href="/search_vehicle" class="button">Search for a Vehicle</a>
        </div>
    </div>
</body>
</html>
