<!DOCTYPE html>
<html>
<head>
    <title>Remove a Patient</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Remove a Patient</h1>
        <form method="POST" class="form-container">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>
            <input class="button" type="submit" value="Remove">
        </form>
        {% if not_found %}
        <p>Patient not found.</p>
        {% endif %}
        <a class="button" href="/">Back to Home</a>
    </div>
</body>
</html>
